body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('qab2.avif'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; 
}

/* Styling for the quiz container */
#quiz-container {
    text-align: center;
    padding: 20px;
    border: 2px solid #161515;
    border-radius: 10px;
    background-color: #f3e08c;
    width: 80%; /* You can adjust this as needed */
    max-width: 600px; /* Ensure it doesn't get too wide */
    margin-top: 30px; /* Space between heading and quiz container */
}

/* Styling for the quiz heading */
#quiz-heading {
    text-align: center;
    font-size: 4em;
    margin-bottom: 40px; 
    color:#0f1010;
    border-color: #1b1a1b;
}

/* Button styling */
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #69d46d;
    color: rgb(28, 27, 27);
    border: none;
    border-radius: 5px;
    border: 2px solid #161515;

}

/* Hover effect for buttons */
button:hover {
    background-color: #45a049;
}

/* Styling for the Next Question button */
#next-button {
    background-color: #2196F3;
}

/* Hover effect for Next Question button */
#next-button:hover {
    background-color: #0b7dda;
}

/* Result container styling */
#result-container {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    background-color:#f3e08c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
